@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.app {
  background-color: #eef5f9;
}

body.active {
  .section {
    margin-left: 0;
    width: 100%;
  }
  .wrapper {
    .sidebar {
      left: -225px;
      transition: all 0.5s ease;
    }
  }
}