$expired: rgba(246, 78, 96, 0.125);
$totals: rgba(41, 98, 255, 0.125);
$active: rgba(11, 183, 175, 0.125);

%status-card {
  border-radius: 5px;
  margin-bottom: 23px;
  cursor: pointer;
}

.toggleButton {
  display: flex;
  flex-direction: column;
  width: 2em;
  height: 2em;
  border-radius: 2px;
  background-color: transparent;
  gap: 0.40em;
  position: absolute;
  margin-top: 6px;
  left: calc(100% - 4em);
  border: none;
  cursor: pointer;
  
  div {
    background-color: black;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
    transform-origin: left;
  }

  div:nth-child(2) {
    transform: rotate(0deg);
    height: 1.5px;
  }

  &:hover div:first-child{
    transform: rotate(40.8deg);
    width: 80%;
  }
  
  &:hover div:nth-child(2){
    opacity: 0
  }

  &:hover div:last-child{
    transform: rotate(-37.8deg);
    width: 80%;
  }

}

.card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.home {
  margin-top: 5.4rem !important;

  .row {
    .col-status {
      .expired {
        @extend %status-card;
        background-color: $expired;
      }
      .actives {
        @extend %status-card;
        background-color: $active;
      }
      .total {
        @extend %status-card;
        background-color: $totals;
      }
    }
  }

  .accordion-container {
    border-radius: 12px;
  }

  .accordion {
    width: 100%;
    margin: 0 auto;
    background-color: #eef5f9;
    .accordion-item {
      background-color: #eef5f9;
      margin-bottom: 0;
      border-radius: 0!important;
      border: 0;

      .not-found {
        text-align: center;
        margin: 5rem;
      }

      .accordion-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        padding: 20px;
        border-radius: 0!important;
        cursor: pointer;
        div {
          font-size: 16px;
          font-weight: 600;
        }
        .blob {
          background: rgba(0, 255, 98, 0.6);
          border-radius: 50%;
          height: 10px;
          width: 10px;
          justify-content: start;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
          transform: scale(1);
          animation: pulse 2s infinite;
        }
        .icon {
          font-size: 20px;
          text-align: end;
          transform: rotate(0deg);
        }
        .icon-open {
          animation: rotateOpen 0.5s ease-in-out;
          transform: rotate(-45deg);
          font-size: 20px;
          text-align: end;
        }
      }
      .accordion-content {
        background-color: #fff;
        padding: 10px 20px;
        margin: 0 0;
      }
    }
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 255, 4, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 255, 4, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 255, 4, 0);
	}
}

@keyframes rotateOpen {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateClose {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@keyframes accOpen {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}

@keyframes accClose {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}